html{ 
  background: url(http://0.static.wix.com/media/4316c1_a3540b0035ad0b30f82e6a1bea1af930.jpg_1024) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.circle-images{
	display: inline-block;
	margin-left: 0px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.vai, .petrucci, .gilbert{
    border: 4px solid #E6E353;
    display: inline-block;
	margin-left: 5px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
 }

.petrucci{
    border: 4px solid #3E4BB0;      
}

#Best-of-3{
    border: 4px solid #A81DB5;    
}

#contenedor{
	width: 400px;
	margin: 0 auto;
}


