img {
	width:100px;
	height:100px;
}

table, td {
	border-width: 2px;
	border-spacing: 3px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	background-color: white;
}